.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 45em;
    width: 100em;
    /*
        grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 47em;
    width: 50em;
*/
    gap: 2em;
}

.cover-image {
    width: 100%;
    aspect-ratio: 1.25;
    object-fit: cover;
}

.content-image {
    width: 100%;
}

/* .cover h2 {
    font-size: 0.9em;
} */

.cover {
    cursor: pointer;
    padding: 2em;
    border-radius: 2px 1em 1em 2px;
    /* padding: 1.5em;
    border-radius: 0 0.75em 0.75em 0; */
    box-sizing: border-box;
    height: 100%;
    box-shadow: 2px -2px 2px #0003 inset, -2px 2px 2px #fff3 inset, -8px -8px 8px #0005;
    /* background-image: url('./leather.png'); */
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #0000003f;
    background: radial-gradient(circle, #0003 0%, #0009 100%);
}

.content-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60em;
    height: 40em;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 2em;
    border-radius: 1em;
    float: left;
    overflow-x: auto;
    box-shadow: 2px -2px 2px #0003 inset, -2px 2px 2px #fff3 inset;
    pointer-events: auto;
}

.content-pages {
    background-color: white;
    column-gap: 4em;
    padding: 2em;
    column-count: 2;
    min-height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 4px 2px #0007;
    position: relative;
}

.content-pages::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    display: inline-block;
    width: 4em;
    transform: translate(-50%);
    background: linear-gradient(90deg, transparent 0%, #0003 50%, transparent 100%);
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active,
.fade-enter-done {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-done,
.fade-exit-active {
    opacity: 0;
}

.fade-enter-active {
    transition: 1s;
}

.fade-exit-active {
    transition: 1s;
}

.slide-enter {
    transform: translateY(100vh);
}

.slide-enter-active,
.slide-enter-done {
    transform: translateY(0);
}

.slide-exit {
    transform: translateY(0);
}

.slide-exit-done,
.slide-exit-active {
    transform: translateY(100vh);
}

.slide-enter-active {
    transition: 0.5s 0.5s;
}

.slide-exit-active {
    transition: 0.5s;
}

.slide-enter-active,
.slide-exit-active {
    z-index: 1;
}

.nameplate-container {
    position: absolute;
    left: 50%;
    top: 3em;
    perspective: 1000px;
    transform: translateX(-50%);
}

.nameplate {
    background: linear-gradient(#555 0%, #3c3c3c 100%);
    color: white;
    padding: 1em;
    transform: rotateX(-30deg);
    font-weight: bold;
    box-shadow: 0 -5px 5px #0007;
    text-align: center;
}

.bibliography p {
    text-indent: 2em hanging;
}

.top-left-image, .top-left-image-2, .top-right-image {
    position: absolute;
    z-index: -1;
}

.top-right-image {
    right: 2em;
    top: 2em;
    width: 8em;
    transform: rotate(-35deg);
}

.top-left-image {
    left: 1em;
    top: -2em;
    width: 24em;
    transform: rotate(12deg);
}


.top-left-image-2 {
  width: 8em;
  transform: translate(5em) rotate(-90deg);
}